@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  color: theme("colors.custom.500");
  background-color: theme("colors.neutral.500");
}

html {
  scroll-behavior: smooth !important;
}
